*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}
.header{
    min-height: 100vh;
    width:100%;
    background-image: url(assets/netflixBackground.jpg);
    background-position: center;
    background-size: cover ;
    position: relative;
}
.signIn-box{
    width: 300px;
    position: absolute;
    top: 10%;
    left: 35%;
    text-align: center;
    height: 350px;
    background-color: black;
    opacity: 0.9;
    padding: 55px;

}
.signIn-box h1{
    margin: 20px 0 40px;
    color: white;
    font-size: 40px;

}
.signIn-box p{
    margin: 20px 0 40px;
    font-size: 14px;
    color: white;
}
.signIn-box input{
    width: 270px;
    background-color: rgb(53, 52, 52);
    margin: 8px 0;
    border: none;
    padding: 12px 34px;
    font-size: 16px;
    border-radius: 5px;
}
.btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: none;
    width: 200px;
    padding: 12px 34px;
    font-size: 20px;
    background: red;
    position:cursor pointer;
    border-radius: 5px;
    margin: 8px 0;
}
.footer{
    width: 100%;
    text-align: center;
    color: white;
    padding: 30px 0;
    opacity: 0.9;
    background-color: black;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    
}
.sub-header{
    background-color: black;
}
.userBoxes{
    background-color: black;
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
}
.userBoxes h1{
    text-align: center;
    color: white;
   
}
.row{
    margin-top: 5% ;
    display: flex;
    justify-content: space-between;
}
.userBoxes-col{
    flex-basis:  31%;
    margin-bottom: 5%;
    padding:  20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
.userBoxes-col img{
    width: 50%;
    padding: auto;
}

.userBoxes-col h3{
    text-align: center;
    color: white;
    font-weight: 600;
    margin: 10px 0;
}

